body{
  background: #E8E8E8;
}

h1{
  color: #205F82;
}
.top-menu{
    margin: 4px;
}
.bold{
  font-weight: bold;
}

.reglog-form{
   background: lightgray;
   border: 1px solid #A9A9A9;
   padding: 8px;
   border-radius: 5px;
}

#register-link{
  color: #BF3211;
}

#username{
    margin-left: 10px;
}

.error{
  color: black;
  background: lightPink;
  padding: 3px;
  margin: 7px 0px;
  border: solid 1px red;
}

.notice{
  color: black;
  background: lightgreen;
  padding: 3px;
  margin: 7px 0px;
  border: solid 1px green;
}

.list-item{
    max-width: 600px;
    padding: 2px;
}

#item-title{
    font-weight: bold;
    color: #BF3211;
}
.new-item{
    width: 200px;
    border: 1px solid;
    padding: 3px;
    background-color: lightgreen;
}

.item-options{
    display: none;
}

.item-options li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.edit-item-link, .delete-item-link{
    font-size: 12px;
}

.delete-item-link{
    color: red !important;
}

#item-added{
  font-size: 12px;
  letter-spacing: 2px;
  color: #205F82;
  text-transform: uppercase;
}

#edit-submit{
    margin-left: 30px;
}

.click-to-edit{
    text-transform: uppercase;
    font-size: 11px;
    color: grey;
    cursor: pointer;
}

#pwb{
    margin: auto;
    text-align: center;
    width: 450px;
    padding-bottom: 20px;
}

.upload-form{
  border: solid 1px gray;
  padding: 5px;
  width: 212px;
  height: 111px;
}

img{
  border: solid 1px grey;
  padding: 1px;
}